@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #083F62;
}

/*headings and logo*/

h1, h2{
    font-family: open-sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #094266; 
}

#logo{
    float: left;
    font-size: 280%;
    padding-left: 30px;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;

}

#menu, #logo{
    line-height: 75px;
}


#menu li{
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #083F62;
}

.active{
    border-bottom: 1px solid #083F62;
}

/*hero image*/

#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 550px;
    width: 100%;
    background: url('../images/girl-4981766_1920.jpg') no-repeat center center;
}

/* Techniques */

#techniques {
    height: 600px;
}

#welcome-techniques{
    text-align: center;
}

#left-techniques-cover{
    width: 100px;
    height: 100px;
    padding: 30px;
    border-style: solid;
    border-color: #083F62;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#left-techniques-bg {
    background: url("../images/Untitled\ design\ \(2\).png") no-repeat center center;
    height: 100%;
}

#left-techniques { 
    padding-top: 30p;
    width: 33%;
    float: left;
    
}



#right-techniques { 
    padding-top: 30p;
    width: 33%;
    float: right;
   
}

#center-techniques { 
    width: 33%;
    margin: 0 auto;
  
    
}

hr{
    border-top: 1px solid #083F62;
    width: 50%;
    margin: 5px;
}


#left-techniques-heading{ 
    width: 85%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 30px;
    
}

#right-techniques-heading{ 
    width: 85%;
    float: left;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 30px;
}

#center-techniques-heading{ 
    width: 85%;
    line-height: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 30px;
}
