@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

* {
    box-sizing: border-box;
   }
   *:before,
   *:after {
    box-sizing: border-box;
   }

.main-container {
    min-height: 100vh; 
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; 
   }

body {
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #083F62;
    margin-bottom: 150px;
    height: 100%;
    position: relative;
}

/*headings and logo*/

h1,
h2 {
    font-family: open-sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #094266;
    font-size: 150%;
}

#logo {
    float: left;
    font-size: 280%;
    padding-left: 30px;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;

}

#menu,
#logo {
    line-height: 75px;
}


#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #083F62;
}

.active {
    border-bottom: 1px solid #083F62;
}

/*hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 550px;
    width: 100%;
    background: url('../images/girl-4981766_1920.jpg') no-repeat center center;
}

/* Techniques */

#techniques {
    height: 600px;
    width: 100%;
}

#welcome-techniques {
    text-align: center;
    padding-bottom: 50px;
}

#left-techniques-cover {
    width: 300px;
    height: 150px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin: 0 auto;
}

#left-techniques-bg {
    background: url("../images/mediation.png") no-repeat center center;
    height: 100%;
}

#left-techniques {
    padding-top: 30px;
    padding-left: 5px;
    width: 33%;
    float: left;

}

#right-techniques-cover {
    width: 300px;
    height: 150px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin: 0 auto;
}

#right-techniques-bg {
    background: url("../images/mindfulness.png") no-repeat center center;
    height: 100%;
}

#right-techniques {
    padding-top: 30p;
    width: 33%;
    float: right;

}

#center-techniques-cover {
    width: 300px;
    height: 150px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin: 0 auto;
}

#center-techniques-bg {
    background: url("../images/yoga.png") no-repeat center center;
    height: 100%;
}


hr {
    border-top: 1px solid #083F62;
    width: 50%;
    margin: 5px;
}


#left-techniques-heading {
    width: 85%;
    line-height: 22px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 82px;
    display: inline-block;
    width: 340px;

}

#right-techniques-heading {
    width: 85%;
    line-height: 22px;
    margin-bottom: 50px;
    margin-top: 70px;
    margin-right: 82px;
    display: inline-block;
    width: 340px;
}

#center-techniques-heading {
    display: inline-block;
    width: 340px;
    margin-top: 70px;
    margin-left: 70px;

}

/* Book online lessons */

#lessons {

    background-color: #083F62;
    width: 50%;
    height: 550px;
    text-align: center;
    display: inline-block;
}


#sign-up {
    color: #fff;
    padding-top: 200px;
    line-height: 30px;
    letter-spacing: 1px;
}

#sign-up h2 {
    color: #fff;

}

#lessons hr {
    border-top: 1px solid #fff;
    width: 70%;
    margin-left: 110px;
    padding-bottom: 40px;

}

.sign-up-now {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #fff;
    color: #083F62;
    display: block;
    margin-left: 40%;
}

#sign-up-image {
    background: url(../images/class.png) no-repeat center center;
    height: 100%;
    width: 100%;
    position: relative;
    left: 720px;
    bottom: 410px;
}

/*form*/

.form-section {
    clear: left;
    background: url("../images/yoga\ class\ signup\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form{ 
        margin: 150px 0 0;
        padding: 50px 30px 50px 30px;
        color: #fff;
        background-color: rgba(60, 60, 60, 0.6);
        position: absolute;
        left: 10%;
        border-radius: 4px;
}

.text-input{
    background: transparent;
    color: #fafafa;
    width: 50%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    
}

.signup-form > p{
    color: #fff;
    size: 20px;

}

.signup-form > h2{
    color: #fff;

}

.text-input:hover {
    border-color: #083F62;
}

.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #9ACD32;
    color: #fafafa;
    display: block;
}

.join-button:hover{
    background-color: #fafafa;
    color: #083F62;
    
}

/*Mindfulness page*/

#mindfulness-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#mindfulness-def{
    height: 550px;
    width: 100%;
    background: url(../images/definitionmindful.png) no-repeat center center;
    color: #fff;
}

#mindfulness-def > h2{
    color: #fff;
    padding: 250px 200px 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 550px;
    
}

#mindfulness-def > p{
    margin-left: 50%;
    top: 220px;
    position: relative;
    padding-right: 100px;
}

/*Mindfulness youtube video 1 */

#video-one {
    width: 100%;
    height: 500px;
}

#mindfulness-youtube{
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 100px;
    position: absolute;
}

#youtube-heading {
   position: relative;
   left: 50%;
   top: 190px;
    margin-left: 25px;
    display: inline-block;
    width: 50%;
}


#practice-youtube{
    position: relative;
    left: 50%;
    top: 100px;
    margin-left: 80px;
    display: inline-block;
    width: 50%;


}

/*Mindfulness tips*/

#awesome-tips{
    text-align: center;
    padding-bottom: 50px;
    font-size: 200%;
}

#mindfulness-tips{
    height: 600px;
}

#left-tips {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-tips {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-tips{
    width: 33%;
    margin: 0 auto;
}

hr{
    width: 100%;
    margin-left: 0px;
    border-bottom: 1px solid #083F62;
}

.left-tips-heading{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-tips-heading{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-tips-heading h3{
    text-align: right;
}

.right-tips-heading p{
    text-align: right;
}

#tips-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #083F62;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 30px;
    
}

#tips-cover-bg{
    background: url(../images/bgmindfulness.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*blogs*/

#blogs{
    background: url(../images/blogs.png) no-repeat center center;
    height: 400px;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#blogs div{
    background-color: rgba(0, 0, 0, 0.6);
    width: 25%;
    height: 400px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
}

#blogs a {
    color: #fff;
    text-align: center;

}

#blogs h2{
    color: #fff;
    padding-top: 30%;
}