@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

* {
    box-sizing: border-box;
   }
   *:before,
   *:after {
    box-sizing: border-box;
   }

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }

body {
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #083F62;
    margin-bottom: 150px;
    height: 100%;
    position: relative;
}

/*headings and logo*/

h1,
h2 {
    font-family: open-sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #094266;
    font-size: 150%;
}

#logo {
    float: left;
    font-size: 280%;
    padding-left: 30px;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;

}

#menu,
#logo {
    line-height: 75px;
}


#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #083F62;
}

.active {
    border-bottom: 1px solid #083F62;
}

/*hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 550px;
    width: 100%;
    background: url('../images/girl-4981766_1920.jpg') no-repeat center center;
}

/* Techniques */

#techniques {
    height: 600px;
    width: 100%;
}

#welcome-techniques {
    text-align: center;
    padding-bottom: 50px;
}

#left-techniques-cover {
    width: 300px;
    height: 150px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin: 0 auto;
}

#left-techniques-bg {
    background: url("../images/mediation.png") no-repeat center center;
    height: 100%;
}

#left-techniques {
    padding-top: 30px;
    padding-left: 5px;
    width: 33%;
    float: left;

}

#right-techniques-cover {
    width: 300px;
    height: 150px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin: 0 auto;
}

#right-techniques-bg {
    background: url("../images/mindfulness.png") no-repeat center center;
    height: 100%;
}

#right-techniques {
    padding-top: 30p;
    width: 33%;
    float: right;

}

#center-techniques-cover {
    width: 300px;
    height: 150px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    margin: 0 auto;
}

#center-techniques-bg {
    background: url("../images/yoga.png") no-repeat center center;
    height: 100%;
}


hr {
    border-top: 1px solid #083F62;
    width: 50%;
    margin: 5px;
}


#left-techniques-heading {
    width: 85%;
    line-height: 22px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 82px;
    display: inline-block;
    width: 340px;

}

#right-techniques-heading {
    width: 85%;
    line-height: 22px;
    margin-bottom: 50px;
    margin-top: 70px;
    margin-right: 82px;
    display: inline-block;
    width: 340px;
}

#center-techniques-heading {
    display: inline-block;
    width: 340px;
    margin-top: 70px;
    margin-left: 70px;

}

/* Book online lessons */

#lessons {

    background-color: #083F62;
    width: 50%;
    height: 550px;
    padding: 1px 0 0 10px;
    text-align: center;
    display: inline-block;
}


#sign-up {
    color: #fff;
    padding-top: 200px;
    line-height: 30px;
    letter-spacing: 1px;
}

#sign-up h2 {
    color: #fff;

}

#lessons hr {
    border-top: 1px solid #fff;
    width: 70%;
    margin-left: 110px;
    padding-bottom: 40px;

}

.sign-up-now {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #fff;
    color: #083F62;
    display: block;
    margin-left: 40%;
}

#sign-up-image {
    background: url(../images/class.png) no-repeat center center;
    height: 100%;
    width: 100%;
    position: relative;
    left: 720px;
    bottom: 410px;
}

/*footer*/

footer {
    /* position: absolute; */
    height: 150px;
    background-color: #083F62;
    /* bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px; */
    position: absolute;
    bottom: 0;
    width: 100%;

}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}